@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* #e7783a
#121212 */
body {
    background-color: white;
    color: black;
    padding:0px 10px 0px 10px;
    font-family: 'Luckiest Guy', cursive;
}

.glass {
   
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
}

.giff{
    margin: 0;
    padding: 0;
    width: 800px;
    height: 800px ;
    position: absolute;
    top:0px;
    z-index: -10;
    right:-50px;
}